body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  color: 000;
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
  text-transform: uppercase;
}

h2 {
  font-size: 50px;
  margin-bottom:  58px;
}

ul, li {
  display: block;
  margin: 0;
  padding: 0;
}

/*header*/
.header {
  background: url('../img/65824.jpg') no-repeat center top / cover;
  padding: 50px;
  height: 1000px;
  opacity: 95%;
}
/*CLOSE*/

/*header -> container*/
.container {
  width: 1170px;
  margin: 0 auto;
}
/*CLOSE*/

/*header -> container -> nav*/
.nav {
  display: flex;
  /*padding-top: 57px;*/
  /*padding: 30px;*/
  align-items: center;
}
/*CLOSE*/


/*header -> container -> a and .tel*/
header a {
  color: #fff;
}

.tel {
  font-size: 19px;
  text-decoration: none;
  /*margin-left: auto;*/
  letter-spacing: 0.1em;
  margin-left: 500px;
  /* margin-right: 11px; */
}
/*CLOSE*/

/*header -> container -> nav -> menu*/
.menu {
  display: flex;
  /*padding: 50px;*/
}

.menu li a {
  text-transform: uppercase;
  font-size: 15px;
  text-decoration: none;
  letter-spacing: 0.1em;
  transition: 0.3s ease;

}

a:hover {
  color: #B04B1F;
  /*background-color: #947B16;*/
}

.menu li {
  margin-right: 40px;
}
/*CLOSE*/

/*header -> container -> mainText*/
.mainText {
  text-transform: uppercase;
  margin-top: 150px;
}

.mainText p {
  font-size: 30px;
  letter-spacing: 0.1em;
  color: #5EBDB4;
}

.mainText h1 {
  font-size: 100px;
  margin-top: 50px;
  margin-bottom: 40px;
  letter-spacing:  0.02em;
  color: #fff;
  text-align: center;

}

/*header -> container -> mainText -> btn*/
.btn {
  /*background-color: brown;
  opacity: transparent;*/
  display: block;
  font-size: 17px;
  text-align: center;
  letter-spacing: 0.1em;
  padding: 17px 47px;
  border: 1px solid #fff;
  width: 238px;
  text-decoration: none;
  transition: all 0.5s ease;
}
.btn:hover {
  background: #fff;
}
/*CLOSE*/

/*section about*/
section {
  padding-top: 113px;
}

#about {
  margin-top: 10px;
  background: url('../img/coffee.jpg') no-repeat center top / cover;
}

.main_info {
  display: flex;
  justify-content: space-between;
}

#about_h2 {
  text-align: center;
}

/*#about_img {
  margin-right: 15px;
}*/

.about_text p {
  color: #EC6C9B;
  background: url('../img/cafe4.jpg') no-repeat ;
}
/*CLOSE*/

/*section menu*/
.sec_menu {
  display: flex;
  justify-content: space-between;
}

.sec_menu h3 {
  text-align: center;
}
/*CLOSE*/

/*footer*/
.footer {
  background-color: blue;
  opacity: 90%;
}
/*CLOSE*/